
* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #eaeaec;
}
.logo-image {
  height: 40px;
}
.logo-container {
  margin-left: 4%;
}
.icons_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 515px;
  justify-content: space-between;
  align-items: center;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 26px 0;
  border-bottom: 4px solid #ffffff;
}
.nav_bar a sup {
  color: #ff3f6f;
}
.nav_bar a:hover {
  border-bottom: 5px solid #ff3f6f;
}

/* search bar  */
.search_bar {
  display: flex;
  min-width: 300px;
  width: 30%;
  height: 40px;
  align-items: center;
  background-color: #f5f5f6;

 

  
}
.search-icon {
  box-sizing: content-box;

  height: 20px;
  padding: 10px;
  color: #282c3f;
  background-color: #f5f5f6;
  border-radius: 4px 0 0 4px;
}
.input-search {
  color: #686e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.icons_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-around;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
 
}
.underline{
  text-decoration: none;
}

.action_name:link{
  color: black;
}
.heading {
  font-size: small;
}
.tag {
  text-decoration: none;
}

.items-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  overflow: hidden;
}
.item-container {
  width: 250px;
  margin: 10px;
  overflow: hidden;
}
.item-image {
  width: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
.ratings {
  font-size: 14px;
  font-weight: 700;
}
.comapny-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #282c3f;
  margin-top: 0;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.pricing {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.OFF {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.Bag-button {
  /* background-color: lightgreen; */
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.bag-item-count{
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 8px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  color: #fff;
  left: 13px;
  top: -54px;
  font-weight: 700;
  cursor: pointer;

}

.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}